.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: red;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 680px;
  height: 680px;
}
.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
